<%= form_for @user, html: { multipart: true } do |f| %>


  
      <label>My Avatar</label>

    <%= f.file_field :avatar %>


  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
